.item-ctnr {
  width: 600px;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 5px rgb(164, 162, 162);
  border: #000;
}

.campaign-name {
  font-size: 2rem;
  line-height: 2.2rem;
  margin-bottom: 0.5rem;
}

.keyword {
  font-size: 0.7rem;
  /* border: 1px solid #000; */
  background: #2a8527;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 25px;
  width: fit-content;
  margin-bottom: 0.2rem;
}

.info-ctnr {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.info-ctnr1 {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.avalability {
  display: flex;
  padding: 10px 10px 0 0;
  font-size: 1.2rem;
}

.bidfund {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
}

.bidfund > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bidfund-title {
  font-size: 0.8rem;
  color: #686868;
  font-weight: 500;
}

.locationradius {
  font-size: 0.9rem;
  color: #686868;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  margin-top: 1.5rem;
}

@media (max-width: 1350px) {
  .item-ctnr {
    width: 450px;
    height: 100%;
  }

  .campaign-name {
    font-size: 1.5rem;
  }

  .keyword {
    font-size: 0.7rem;
  }

  .avalability {
    font-size: 1rem;
  }

  .bidfund {
    font-size: 1rem;
  }

  .locationradius {
    font-size: 1rem;
  }
}

@media (max-width: 950px) {
  .item-ctnr {
    width: 350px;
    height: 100%;
  }
}

@media (max-width: 400px) {
  .item-ctnr {
    width: 300px;
    height: 100%;
  }
  .fund{
    font-size: 0.9rem;
  }
}