<div class="additem-ctnr">
  <div>
    <label>Product Name</label>
    <input class="inpt" type="text" />
  </div>
  <div>
    <label>Keyword</label>
    <input type="text" />
  </div>
  <div>
    <label>Location</label>
    <input type="text" />
  </div>
  <div>
    <label>Radius</label>
    <input type="text" />
  </div>
  <div>
    <label>Bid</label>
    <input type="text" />
  </div>
  <div>
    <label>Fund</label>
    <input type="text" />
  </div>
  <div class="full-width">
    <div class="status">
      <input type="checkbox" /> <span>Set Status to on or off</span>
    </div>
    <div class="add-btn" mat-dialog-close>Add Campaign</div>
  </div>
</div>
