<ng-container [formGroup]="addItemForm" *ngIf="addItemForm">
  <div class="additem-ctnr">
    <div>
      <label>Product Name</label>
      <input formControlName="product" class="inpt" type="text" />
    </div>
    <div>
      <label>Keyword</label>
      <input
        formControlName="keyword"
        [disabled]="true"
        id="typeahead-basic"
        [(ngModel)]="modelkeywords"
        [ngbTypeahead]="searchKeywords"
        class="form-control"
      />
    </div>
    <div>
      <label for="typeahead-basic">Location</label>
      <input
        formControlName="location"
        type="text"
        [disabled]="true"
        id="typeahead-basic"
        [(ngModel)]="model"
        [ngbTypeahead]="searchCities"
        class="form-control"
      />
    </div>
    <div>
      <label>Radius</label>
      <input
        formControlName="radius"
        type="text"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');"
      />
    </div>
    <div>
      <label>Bid</label>
      <input
        formControlName="bid"
        type="text"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');"
      />
    </div>
    <div>
      <label>Fund</label>
      <input
        aria-label="Fund"
        formControlName="fund"
        type="text"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');"
      />
    </div>
    <div class="full-width">
      <div class="status">
        <input formControlName="status" type="checkbox" />
        <span>Set Status to on or off</span>
      </div>
      <div class="d-flex">
        <button (click)="handleSubmit()" class="add-btn" mat-dialog-close>
          Add Campaign
        </button>
      </div>
    </div>
  </div>
</ng-container>
