<div class="campaigns-info">
  <div class="welcome-text">Welcome to my version of Craigslist</div>
  <div class="lower-text">
    Market place for selling products that are of no use to me anymore
  </div>

  <div class="campaigns-ctnr">
    <div class="campaigns-grid">
      <div class="grid-item1"><app-item></app-item></div>
      <div class="grid-item2"><app-item></app-item></div>
      <div class="grid-item3"><app-item></app-item></div>
      <div class="grid-item3"><app-item></app-item></div>
      <div class="grid-item3"><app-item></app-item></div>
      <div class="grid-item3"><app-item></app-item></div>
      <div class="grid-item3"><app-item></app-item></div>
    </div>
  </div>
</div>
