<div class="campaigns-info">
  <div class="welcome-text">Welcome to my version of Craigslist</div>
  <div class="lower-text">
    Market place for selling products that are of no use to me anymore
  </div>

  <div class="campaigns-ctnr">
    <div class="campaigns-grid">
      <div *ngFor="let campaign of campaigns">
        <app-item
          [campaignData]="campaign"
          [editData]="editCampaign"
          (deleteEvent)="deleteCampaign($event)"
        ></app-item>
      </div>
    </div>
  </div>
</div>
